<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Certificado Participante</title>
</head>
<body>
    <img src="file://{{img_css_path}}.png" class="background">
    <h1>{{name}}</h1>
    <p class="identification">{{identification_card}}</p>
    <p class="number">{{id}}</p>
    <p class="course">{{course}}</p>
    <p class="date">{{date}}</p>
    <div class="box"></div>
    <p class="date hidden">{{date}}</p>
    <img src="data:image/png;base64,{{ qr_image_base64 }}" alt="Código QR" class="qr_code">
</body>
</html>